@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    /* Colores primarios */
    --Moderate-blue: hsl(238, 40%, 52%);
    --Soft-Red: hsl(358, 79%, 66%);
    --Light-grayish-blue: hsl(239, 57%, 85%);
    --Pale-red: hsl(357, 100%, 86%);
    /* Colores Neutros */
    --Dark-blue: hsl(212, 24%, 26%);
    --Grayish-Blue: hsl(211, 10%, 45%);
    --Light-gray: hsl(223, 19%, 93%);
    --Very-light-gray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);
}

body{
    font-family: "Rubik", sans-serif;
}

.text-size{
    font-size: 16px;
}

.font-normal{
    font-weight: 400;
}

.font-medium{
    font-weight: 500;
}

.font-bold{
    font-weight: 700;
}

.bg-Very-light-gray{
        background-color: var(--Very-light-gray);
}

.bg-color-white{
    background-color: var(--White);
}

.bg-Moderate-blue{
    background-color: var(--Moderate-blue);
}

.txt-Grayish-Blue{
    color: var(--Grayish-Blue)
}


.txt-Moderate-blue{
    color: var(--Moderate-blue);
}

.txt-Soft-Red{
    color: var(--Soft-Red);
}

.border-Light-gray{
    border-color: var(--Light-gray);
}